#imgBox {
  // dad
  position: relative;
  cursor: move;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  // gjvj
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  canvas{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
  }
}